 /* google fonts  */

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

 * {
     margin: 0;
     padding: 0;
 }

 body {
     font-family: 'Poppins', sans-serif;
 }

 /* nav styles  */
 nav {
     padding: 55px 104px 55px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .nav-links {
     display: flex;
     justify-content: space-around;
     list-style: none;
     text-decoration: none;
     list-style: none;
 }

 .nav-links li a {
     color: #3A3A3A;
     font-weight: 600;
     margin-right: 35px;
     text-decoration: none;
 }

 /* banner section  */
 .banner-container {
     width: 85%;
     margin: auto;
     display: flex;
     align-items: center;
     padding-bottom: 60px;
 }

 .banner-text h1 {
     font-size: 3rem;
     font-weight: 700;
     color: #3A3A3A;
     width: 90%;
 }

 .banner-text p {
     color: #3A3A3A;
     width: 70%;
     margin-top: -30px;
 }

 .btn-primary {
     padding: 10px 24px;
     border-radius: 41px;
     background: #E02C6D;
     border: none;
     color: #fff;
 }

 .banner-img {
     margin-right: 88px;
 }

 .banner-img img {
     height: 328px;
     background-image: url('../images/Circledesign.svg');
     background-size: cover;
     padding-bottom: 25px;
     padding-right: 5px;
 }

 /* sponsor section  */
 .sponsor-container {
     max-width: 1160px;
     margin: auto;
 }

 .sponsor-logos {
     display: flex;
     justify-content: space-around;
     align-items: center;
     border: 1px dotted;
     border-radius: 5px;
     padding: 45px;
 }

 /* popular section  */
 .popular-container {
     max-width: 1160px;
     margin: auto;
     margin-top: 35px;
     display: grid;
     grid-template-columns: 26% 26% 26%;
     justify-content: center;
     gap: 15px;


 }

 .popular-title {
     margin-top: 55px;
     color: #3A3A3A;
     text-align: center;
     font-size: 1.4rem;
     font-weight: 600;

 }


 .popular-card {
     height: 420px;
     width: 300px;
     border-radius: 5px;
     background: #FFF;
     box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);

 }

 .ratings {
     display: flex;
 }

 .ratings p,
 .popular-card p,
 h2 {
     margin-top: 0;
     margin-bottom: 0;
 }

 .popular-card>img {
     height: 250px;
     width: 268px;
     padding: 15px;
 }

 .ratings {
     margin-left: 15px;
 }

 .popular-card>p,
 h2 {
     margin-left: 15px;
 }

 .card-description {
     width: 88%;
     color: #787885;
     font-size: 0.9rem;
     font-weight: 700;

 }

 .see-more {
     margin-top: 20px;
     font-size: 0.9rem;
     text-align: right;
     color: rgba(224, 44, 109, 0.87);
     font-weight: 700;
 }

 /* Featured products at one place */
 .featured-container {
     max-width: 1160px;
     margin: auto;
     padding-top: 130px;
     padding-left: 55px;
     display: flex;
     align-items: center;
     gap: 80px
 }

 .featured-container h1 {
     color: #0A0826;
     font-size: 2.1rem;
     font-weight: 700;


 }

 .featured-container p {
     width: 75%;
 }

 /* footer section  */
 .footer-container {
     padding: 35px 0;
     background-color: #0A0826;
     color: #FFF;
     text-align: center;

 }

 .footer-container h1 {
     font-size: 1.4rem;
     font-weight: 700;

 }

 .footer-container p {
     font-size: 0.8rem;
     font-weight: 400; 
 }
 .fa-instagram, .fa-basketball, .fa-twitter, .fa-youtube {
    font-size: 1.2rem;
    padding: 15px;
 }