@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;
        padding-left: 12px;
        padding-top: 10px;
        padding-right: 0;
        width: 90%;
    }

    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-img {
        margin-right: 0;
    }

    .banner-text {
        text-align: center;
    }

    .banner-text h1 {
        width: 100%;
        font-size: 1.9rem;
    }

    .banner-text p {
        width: 100%;
        margin-top: 0;
    }

    .nav-links li a {
        margin-right: 10px;
    }

    .nav-links {
        margin-right: 8px;
        margin-top: 25px;
        width: 100%;
    }
    .btn-primary {
        margin-top: 25px;
    }

    .sponsor-logos {
        padding: 10px;
        flex-wrap: wrap;
        gap: 20px;
    }
    .popular-container {
        grid-template-columns: 0fr;
       
    }
   
    .featured-container {
        flex-direction: column-reverse;
        padding-left: 0;
        gap:50px;
        text-align: center;
        width: 79%;
        margin: auto;
    }
    .featured-container p {
        width: 100%;
    }
    .featured img {
        width: 100%;
    }
}